<div class="jumbotron">
	<form action="/imdb" method="POST">
	  	Write down the film you want listed: <input type="text" placeholder="Name" name="query">
	  	<button type="submit">Search</button>
	</form>
</div>